@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

/* Variables */
:root {
  --gradient: linear-gradient(265.6deg, #007fff -21.43%, #0059b2 100%);
  --primary-blue: #007fff;
  --secondary-blue: #0059b2;
  --dark-text: #001e3c;
  --light-bg: #fafbfc;
  --technologies-bg: rgba(102, 178, 255, 0.3);
  --project-border: #aab4be;
  --form-input-bg-color: #eaeef3;
  --form-input-border-color: #6f6f6f;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  background: var(--light-bg);
  /* padding: 5%; */
  /* margin: 5%; */
}

/* General styles */

.App {
  width: 100%;
  /* max-width: 955px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.horizontal-line,
.skill-separator {
  min-width: 100%;
  border: none;
  background-color: var(--project-border);
  height: 1px;
}

/* NAVIGATION */
.nav-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  height: 65px;
  background-color:rgba(250,251,252,.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 955px;
  /* min-width: 960px; */
  /* padding: 0 10px; */
  width: 100%;
}

.nav-horizontal-line{
  position: fixed;
  top: 65px;
}

.main-nav{
  display: flex;
  gap: 31px;
}

.main-nav a{
  text-decoration: none;
  color: var(--dark-text);
  font-weight: 700;
  font-size: 1.8rem;
  padding: 22px 10px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.main-nav a:hover{
  color: var(--primary-blue) !important;
  font-style: italic;
}

.active-nav{
  color: var(--primary-blue) !important;
  font-style: italic;
}

.main-nav{
  position: relative;
}

.active-nav::after{
  content: "";
  height: 4px;
  width: 35px;
  background-color:var(--primary-blue);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: absolute;
  bottom: 0;
}

.main-nav a:hover::after{
  content: "";
  height: 4px;
  width: 35px;
  background-color:var(--primary-blue);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: absolute;
  bottom: 0;
}

.secondary-nav{
  display: flex;
  align-items: center;
  gap: 18px;
}

.secondary-nav a{
  text-decoration: none;
  color: var(--dark-text);
}

.contact-options{
  display: flex;
  gap: 18px;
}

.darkmode-toggle{
  padding: 4px 6px;
  border: 1px solid var(--project-border);
  border-radius: 8px;
}

/* HERO */

.hero {
  padding: 0 3%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
  height: 100vh;
  max-width: 955px;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  line-height: 100%;
  font-size: 4rem;
  font-weight: 900;
  color: var(--dark-text);
  max-width: 350px;
}

.gradient {
  color: var(--gradient);
  background: var(--gradient);
  font-style: italic;
  line-height: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-subtitle {
  color: var(--dark-text);
  /* font-size: 1.8rem; */
  line-height: 125%;
  max-width: 300px;
}

.hero-subtitle-italic {
  font-style: italic;
  font-weight: 700;
}

.hero-buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

button {
  border: 0;
}

.primary-btn {
  background: var(--gradient);
  border-radius: 8px;
  padding: 0;
  padding: 1rem 2.5rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 125%;
  color: white;
}

.secondary-btn {
  background: none;
  /* border: 2px solid #007FFF; */
  outline: 2px solid var(--primary-blue);
  outline-offset: -2px;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 1rem 2.5rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 125%;
  color: var(--primary-blue);
}

.project-btns {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.secondary-btns {
  display: flex;
  gap: 15px;
}

.live-btn,
.code-btn {
  color: var(--dark-text);
  background: transparent;
  cursor: pointer;
  border-radius: 8px;
  padding: 5px 8px;
}

.live-btn:hover,
.code-btn:hover {
  color: var(--secondary-blue);
  background-color: var(--technologies-bg);
}

.live-btn:focus-visible,
.code-btn:focus-visible {
  outline: 3px solid var(--primary-blue);
  /* background-color: var(--light-bg); */
}

.live-btn:active,
.code-btn:active {
  transform: scale(96%);
  transform-origin: center;
}

.primary-btn:hover {
  cursor: pointer;
  background: var(--secondary-blue);
  /* outline: 2px solid var(--secondary-blue); */
}

.secondary-btn:hover {
  cursor: pointer;
  color: var(--secondary-blue);
  outline: 2px solid var(--secondary-blue);
  outline-offset: -2px;
}

.primary-btn:focus-visible {
  cursor: pointer;
  /* background: var(--secondary-blue); */
  outline: 3px solid var(--primary-blue);
}

.secondary-btn:focus-visible {
  cursor: pointer;
  outline: 5px solid var(--primary-blue);
  outline-offset: -2px;
  /* outline: 2px solid var(--primary-blue); */
  /* border: 2px solid var(--primary-blue); */
}

.primary-btn,
.secondary-btn {
  transform-origin: center;
}
.primary-btn:active,
.secondary-btn:active {
  transform: scale(97%);
}

/* PROJECTS */
.projects {
  color: var(--dark-text);
  padding: 3%;
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 70px 0;
  max-width: 955px;
}

.projects-header {
  max-width: 300px;
}

.project-description {
  line-height: 180%;
}

.projects-header-title,
.about-header-title,
.contact-header-title {
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 12px;
}

.projects-header-description,
.contact-header-description {
  line-height: 180%;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.project {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--project-border);
  border-radius: 8px;
  padding: 20px;
  gap: 20px;
  background-color: white;
  max-width: 350px;
}

.project:hover {
  border: 1px solid var(--secondary-blue);
  /* outline: 3px solid var(--secondary-blue); */
}

.project:hover .project-title {
  color: var(--secondary-blue);
}

.project-picture,
.about-picture {
  width: 100%;
  height: 20rem;
  background-color: var(--dark-text);
  border-radius: 8px;
}

.project-details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-title {
  font-size: 2.4rem;
  font-weight: 700;
}

.technologies {
  display: flex;
  gap: 10px;
}

.technology {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.4rem 0.8rem;
  background-color: var(--technologies-bg);
  border-radius: 22px;
}

/* SKILLS */
.skills {
  color: var(--dark-text);
  /* padding: 3%; */
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 70px 0;
  max-width: 350px;
}

.skills-header-title {
  font-size: 3rem;
  padding-bottom: 12px;
}

.skills-header-description {
  /* font-size: 1.8rem; */
  line-height: 180%;
}

.skills-technologies {
  display: flex;
  flex-direction: column;
  gap: 43px;
  flex-wrap: wrap;
}

.skill-list-heading {
  font-size: 1.8rem;
  color: #ffffff;
  background-color: var(--primary-blue);
  padding: 24px 32px;
  border: 1px solid var(--project-border);
  border-bottom: 0;
  border-radius: 8px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  text-align: center;
}

.skill-list-wrapper {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  /* max-width: 450px; */
  /* min-width: 100%; */
}

.skills-list {
  border: 1px solid var(--project-border);
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.skill {
  /* border: 1px solid var(--project-border);
  border-top: 0;
  border-radius: 8px; */
}

.skill-name {
  /* font-size: 1.8rem; */
  border: 0;
  border-radius: 8px;
  font-weight: 700;
  display: flex;
  gap: 14px;
  padding: 24px 32px;
  background-color: #ffffff;
}

/* ABOUT */

.about {
  color: var(--dark-text);
  display: flex;
  flex-direction: column;
  max-width: 955px;
  padding: 70px 0;
  gap: 20px;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 350px;
}

.about-body {
}

.about-text {
  /* font-size: 1.8rem; */
  line-height: 180%;
  padding-bottom: 25px;
}

/* CONTACT */

.contact {
  color: var(--dark-text);
  display: flex;
  flex-direction: column;
  max-width: 955px;
  padding: 70px 0;
  gap: 35px;
  max-width: 350px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-header-description {
  /* font-size: 1.8rem; */
  line-height: 180%;
}

.contact-form-field {
  display: flex;
  flex-direction: column;
}

.contact-form-field > input[type="text"],
.contact-form-field > input[type="email"],
.contact-form-field > textarea {
  color: var(--dark-text);
  padding: 10px;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
}

.contact-form-field > input[type="text"],
.contact-form-field > input[type="email"] {
  /* display: flex;
  flex-direction: column; */
  min-height: 40px;
  background-color: var(--form-input-bg-color);
  border: 1px solid var(--form-input-border-color);
  border-radius: 8px;
}

.contact-form-field > textarea {
  /* display: flex;
  flex-direction: column; */
  min-height: 130px;
  background-color: var(--form-input-bg-color);
  border: 1px solid var(--form-input-border-color);
  border-radius: 8px;
}

/* .contact-form-field > input[type="text"]:focus-visible,
.contact-form-field > input[type="email"]:focus-visible,
.contact-form-field > textarea:focus-visible {
} */

.contact-form-field > input[type="text"]:focus,
.contact-form-field > input[type="email"]:focus,
.contact-form-field > textarea:focus {
  border-color: var(--secondary-blue);
  outline: 0;
  outline: 3px solid var(--primary-blue);
  background-color: #ffffff;
}

.contact-form-field label {
  font-weight: 700;
  padding-bottom: 10px;
}

#contact-form button {
  align-self: flex-end;
}

.footer {
  padding: 70px 0;
  max-width: 955px;
  color: var(--dark-text);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.contact-icon{
  color: var(--dark-text);
  padding:5px;
  border-radius: 8px;
  cursor: pointer;
}

.contact-icon:hover{
  background-color: var(--technologies-bg);
}

@media screen and (min-width: 600px) {
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero {
    align-items: center;
    text-align: center;
  }
  .hero-title,
  .gradient {
    max-width: 100%;
  }

  .hero-subtitle {
    max-width: 100%;
  }

  .projects,
  .about,
  .skill {
    align-items: center;
  }
  .project {
    max-width: 100%;
  }
  .projects-header {
    text-align: center;
    max-width: 400px;
  }

  .skills-technologies {
    max-width: 100%;
  }

  .skills {
    max-width: 80%;
  }

  .about-content {
    max-width: 80%;
  }

  .contact {
    max-width: 483px;
  }

  .contact-header {
    text-align: center;
  }
}

@media screen and (min-width: 900px) {
  .hero-title {
    font-size: 6.4rem;
    color: var(--dark-text);
    line-height: 100%;
  }

  .hero-subtitle {
    color: var(--dark-text);
    font-size: 2.4rem;
    line-height: 125%;
  }

  .hero-buttons {
    display: flex;
    gap: 20px;
  }

  button {
    border: 0;
    font-size: 1.6rem;
    font-weight: 700;
  }

  .primary-btn {
    font-family: "Inter", sans-serif;
    background: var(--gradient);
    border-radius: 8px;
    padding: 1rem 2.5rem;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 125%;
    color: white;
  }

  .secondary-btn {
    font-family: "Inter", sans-serif;
    background: none;
    outline: 2px solid var(--primary-blue);
    outline-offset: -2px;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 1rem 2.5rem;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 125%;
  }

  .project {
    display: flex;
    flex-direction: row;
  }

  .projects {
    align-items: center;
    gap: 50px;
    padding: 100px 0;
  }

  .projects-header {
    text-align: center;
    max-width: 428px;
  }
  .projects-header-title {
    font-size: 4.8rem;
  }
  .projects-header-description {
    /* font-size: 1.8rem; */
    line-height: 180%;
  }

  .project {
    gap: 27px;
    padding: 30px;
  }

  .project-list {
    gap: 50px;
  }

  .project-picture {
    min-width: 435px;
    height: 100%;
  }

  .project-details-wrapper {
    min-width: 435px;
  }

  .skills {
    max-width: 955px;
    align-items: center;
    padding: 100px 0;
    gap: 50px;
  }

  .skills-header-title,
  .skills-header-description {
    text-align: center;
    max-width: 483px;
  }

  .skills-header-description {
    /* font-size: 1.8rem; */
  }

  .skills-header-title {
    font-size: 4.8rem;
  }

  .skills-technologies {
    flex-direction: row;
    flex-wrap: wrap;
    /* flex: 1 1; */
  }

  .skills-list {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* flex: 1 1; */
  }

  .skill-name {
    /* font-size: 1.8rem; */
  }

  .skill {
    min-width: 453px;
  }

  .about {
    align-items: center;
    gap: 50px;
    max-width: 955px;
    padding: 100px 0;
  }

  .about-header-title {
    font-size: 4.8rem;
  }

  .about-content {
    flex-direction: row;
    gap: 53px;
    max-width: 100%;
  }

  .about-picture {
    max-width: 478px;
    min-width: 435px;
    height: 280px;
  }

  .about-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .about-text {
    max-width: 100%;
    line-height: 180%;
    /* font-size: 1.8rem; */
  }

  .contact {
    max-width: 483px;
    padding: 100px 0;
    gap: 50px;
  }

  .contact-header-title {
    font-size: 4.8rem;
  }

  .contact-header-description {
    /* font-size: 1.8rem; */
  }
}
