@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

/* Variables */
:root {
  --gradient: linear-gradient(265.6deg, #007fff -21.43%, #0059b2 100%);
  --primary-blue: #007fff;
  --secondary-blue:#0059b2;
  --dark-text:#001E3C;
  --light-bg:#FAFBFC;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  background: var(--light-bg);
  /* padding: 5%; */
  /* margin: 5%; */
}


/* General styles */

.App{
  width: 100%;
  max-width: 955px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* HERO */

.hero {
  padding: 0 3%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap:25px;
  height: 100vh;
}

.headline{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  line-height: 100%;
  font-size:4rem;
  font-weight: 900;
  color: var(--dark-text);
  max-width: 300px;
}

.gradient {
  color: var(--gradient);
  background: var(--gradient);
  font-style: italic;
  line-height: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-subtitle {
  color: var(--dark-text);
  font-size: 1.6rem;
  line-height: 125%;
  max-width: 300px;
}

.hero-subtitle-italic{
  font-style: italic;
  font-weight: 700;
}

.hero-buttons{
  display: flex;
  gap:10px;
  flex-wrap: wrap;
}

button {
  border: 0;
}

.primary-btn {
  background: var(--gradient);
  border-radius: 8px;
  padding: 1em 2.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 125%;
  color: white;
}

.secondary-btn {
  background: none;
  /* border: 2px solid #007FFF; */
  outline: 2px solid var(--primary-blue);
  outline-offset: -2px;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 1em 2.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 125%;
  color: var(--primary-blue);
  
}

.primary-btn:hover{
  cursor: pointer;
  background: var(--secondary-blue);
  /* outline: 2px solid var(--secondary-blue); */
}

.secondary-btn:hover{
  cursor: pointer;
  color: var(--secondary-blue);
  outline: 2px solid var(--secondary-blue);
  outline-offset: -2px;
}

.primary-btn:focus-visible{
  cursor: pointer;
  /* background: var(--secondary-blue); */
  outline: 3px solid var(--primary-blue);
  
}

.secondary-btn:focus-visible{
  cursor: pointer;
  outline: 5px solid var(--primary-blue);
  outline-offset: -2px;
  /* outline: 2px solid var(--primary-blue); */
  /* border: 2px solid var(--primary-blue); */

}

.primary-btn,.secondary-btn{
  transform-origin: center;
}
.primary-btn:active,.secondary-btn:active{
  transform: scale(97%);
}


@media screen and (min-width:600px) {
  .App{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero {
    align-items: center;
    text-align: center;
  }
  .hero-title,.gradient{
    max-width: 100%;
  }

  .hero-subtitle{
    max-width: 100%;
  }
}

@media screen and (min-width:900px) {
  .hero-title {
    font-size: 6.4rem;
    color: var(--dark-text);
    line-height: 100%;
  }

  .hero-subtitle {
    color: var(--dark-text);
    font-size: 2.4rem;
    line-height: 125%;
    /* max-width: 100%; */
  }
  
  .hero-buttons{
    display: flex;
    gap:20px
  }
  
  button {
    border: 0;
  }
  
  .primary-btn {
    background: var(--gradient);
    border-radius: 8px;
    padding: 1em 2.5rem;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 125%;
    color: white;
  }
  
  .secondary-btn {
    background: none;
    /* border: 2px solid #007FFF; */
    outline: 2px solid var(--primary-blue);
    outline-offset: -2px;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 1em 2.5rem;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 125%;
  }
  
  
}

